.welcomeSection{
    background:url("../../../../../public/images/bgImages.jpg");
    background-size: cover;
}
.welcomeSection > .flex{
    background:rgba(193,234,254,.9);
}
.welcomeSection .topTitle{
    font-size:30px;
}