.miniMenu>*{
    color:white;
    font-weight: bold;
}

.miniMenu .icon{
    margin-right:5px;
}
.miniMenu .socialIcon{
    margin-right:15px;
}

/* Common CSS */
.miniMenu .icon, .miniMenu .socialIcon{
    cursor:pointer;
}

/*Media queries*/
@media only screen and (max-width: 640px) {
    .miniMenu .icon{
        margin-right:15px;
    }
    .miniMenu .socialIcon, .miniMenu .icon{
        margin-top:5px;
    }
}