/* styles/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Your custom styles go here */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Proxima Nova';
}

/* UI */
.mainGradient{
    background: linear-gradient(to right, #ff637b 0%, #f7a77c 100%);
}
.mainGradient-txt{
    color: linear-gradient(to right, #ff637b 0%, #f7a77c 100%);
}

/* Functionalities */
.scrollUp{
    transform:scaleY(0);
}
.scrollDown{
    transform:scaleY(1);
}
.scrollXVisible{
    transform:scaleX(1);
}
.scrollXInvisible{
    transform:scaleX(0);
}
.scrollDown,.scrollUp,.scrollXVisible,.scrollXInvisible{
    transition: .5s ease-in-out;
}
.backgroundOne{
    background:url("../../public/images/bgImages.jpg");
    background-size: cover;   
}
.backgroundOne > .flex{
    background:rgba(193,234,254,.8);
}
.backgroundTwo{
    background:url("../../public/images/sydney-cbd-from-ferry-boat2.jpg");
    background-size: cover;
}
.backgroundTwo > .flex{
    background:rgba(193,234,254,.8);
}  

.fileType>.currentImgBackground>.fileUpload--updateProfilePfp>.plusIcon{
    color:white;
    font-size:150px;
}
.fileType>.currentImgBackground>.fileUpload--updateProfilePfp{
    height:300px;
    width:300px;
    margin-bottom:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgba(25, 135, 84,.4);
    margin-top:20px;
} 

  